body {
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    width: 90%;
}

header{
    display: flex;
    position: relative;
    /* background-image: url(../image/5578.jpn); */
    background-color: rgb(91, 101, 150);
    width: 100%;
    padding: 15px 0 20px 0;
    height: 150px;
    margin-top: 20px;
   
}

.name {
    background-color: brown;
    position: absolute;
    color: white;
}

.name h1 {
    font-size: 45px;
    margin-block-start: 12px;
    margin-block-end: 8px;
    padding: 0 10px;
}

nav {
    
    
}

nav ul {
    position: absolute;
    bottom: 10px;
    right: 30px;
    
    
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-size: 24px; 
    font-weight: bold;
}

nav ul li a {
     color:white;
}


nav ul li a:link {
    text-decoration: none;
}

.about-me {
    width: 100%;
}

.title {
    width: 100%;
    /* background-color: wheat; */
    margin-bottom: 5px;
    border-bottom: 2px solid  rgba(8, 8, 167, 0.63);
}

.title h1 {
    margin-bottom: 2px;
    color: rgba(8, 8, 167, 0.63);
    font-size: 30px;
    text-align: center;
}

.title-space {
    width: 90%;
    height: 20px;
    
}

.about-me-detail {
    display: flex;
    align-items: flex-end;
    /* background-color: beige; */

}

.about-me-text {
    width: 75%;
    height: 100%;
    padding: 10px;
    margin-left: 40px;
}

.about-me-image {
    width: 20%;
    height: 100%;
    background-color: cornflowerblue;
}

.about-me-image img {
    /* margin: 0 20px 75px 20px; */
    /* padding: 20px 50px; */
}

.projects {

}

.project-cards {
display: flex;
flex-wrap: wrap;
}

.project-cards h2 {
    text-align: center;
    flex-wrap: wrap;
}

.smartphone-app {
    background-image: url(https://via.placeholder.com/150/);
    height: 200px;
    width: 40%;
    /* border: 2px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.web-application {
    background-image: url(https://via.placeholder.com/150/);
    height: 200px;
    width: 40%;
    /* border: 2px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}

.website {
    background-image: url(https://via.placeholder.com/150/);
    height: 200px;
    width: 40%;
    /* border: 2px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}

.database{
    background-image: url(https://via.placeholder.com/150/);
    height: 200px;
    width: 40%;
    /* border: 2px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}

footer ul {
    list-style: none;
    margin: 20px;
}

.contact-list {
    display: table;
    margin: 0 auto;
}

footer ul li {
    display: inline;
    flex-direction: row; 
    font-size: 18px;
    font-weight: bold;
    flex-shrink: inherit;
}

footer ul li a:link {
    text-decoration: none;
    padding: 0 80px;
}

@media screen and (max-width: 992px) {
    header {
        text-align: center;
        flex-direction: column;
    }

    nav ul {
        position: absolute;
        list-style: none;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: inline;
        flex-direction: column;
        margin: 0 20px;
        /* float: right; */
        font-size: 24px; 
        color:white;
        font-weight: bold;
}