body {
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    width: 90%;
}

header{
    display: flex;
    position: relative;
    /* background-color: rgb(91, 101, 150); */
    background-image: url(./images/5578.jpg);
    width: 100%;
    padding: 15px 0 20px 0;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 50px;
   
}

.name {
    /* background-color: brown; */
    position: absolute;
    color:beige;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.name h1 {
    font-size: 45px;
    margin-block-start: 4px;
    margin-block-end: 2px;
    padding: 0 10px;
}

nav ul {
    position: absolute;
    bottom: -3px;
    right: 30px;   
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-size: 24px; 
    font-weight: bold;
}

nav ul li a {
    color:beige;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


nav ul li a:link {
    text-decoration: none;
}

.about-me {
    width: 100%;
}

.title {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 2px solid  rgba(8, 8, 167, 0.63);
}

.title h1 {
    margin-bottom: 2px;
    color: rgba(8, 8, 167, 0.63);
    font-size: 30px;
    text-align: center;
}

.title-space {
    width: 90%;
    height: 20px;
    
}

.about-me-detail {
    display: flex;
    align-items:flex-start;
}

.about-me-text {
    width: 75%;
    height: 100%;
    padding: 10px;
    margin-left: 40px;
}

.about-me-detail.about-me-image {
    position: absolute;
    width: 20%;
}

.about-me-image img {
    height: 200px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-cards {
display: flex;
flex-wrap: wrap;
}

.project-cards h2 {
    text-align: center;
    flex-wrap: wrap;
}

.project-cards a:link{
    text-decoration: none;
    /* color: black; */
}

h2 {
    color:beige;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 70px;
}
.code-refactor {
    background-image: url(./images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}

.portfolio {
    background-image: url(./images/halgatewood-com-tZc3vjPCk-Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}



.password {
    background-image: url(./images/pexels-pixabay-60504.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}

.quiz {
    background-image: url(./images/nguyen-dang-hoang-nhu-cbEvoHbJnIE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}
.day-planner {
    background-image: url(./images/pexels-bich-tran-760710.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
}

.weather {
    background-image: url(./images/yue-su-vXOafvdaiHQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.concert-api {
    background-image: url(./images/actionvance-eXVd7gDPO9A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.readme {
    background-image: url(./images/iconfinder_273_Readme_logo_4375055.png);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.team {
    background-image: url(./images/Capture1.png);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.note {
    background-image: url(./images/photo-1517842645767-c639042777db_crop.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.employee {
    background-image: url(./images/pexels-sora-shimazaki-5668888.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}

.ecommerce{
    background-image: url(./images/pexels-nataliya-vaitkevich-6214479.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    height: 200px;
    width: 40%;
    border: 2px solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    
}







footer ul {
    list-style: none;
    margin: 20px;
}

.contact-list {
    display: table;
    margin: 0 auto;
}

footer ul li {
    display: inline;
    flex-direction: row; 
    font-size: 18px;
    font-weight: bold;
    flex-shrink: inherit;
}

footer ul li a:link {
    text-decoration: none;
    padding: 0 80px;
}

@media screen and (max-width: 992px) {
       .about-me-detail{
        flex-direction: column;
        align-items: center;
       }
}

    @media screen and (max-width: 835px) {
        header{
            flex-direction: column;
            display: flex;
            position: relative;
            background-color: rgb(91, 101, 150);
            width: 100%;
            padding: 15px 0 20px 0;
            height: 120px;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .name h1 {
            font-size: 30px;
            margin-block-start: 4px;
            margin-block-end: 2px;
        }

        nav ul li {
            display: inline;
            margin: 0 20px;
            font-size: 18px; 
            font-weight: bold;
        }

        .projects h2 {
            font-size: 20px;
        }

        ul {
            flex-direction: column;
            
            align-self: center;
        }

        footer ul li {
            align-content: center;
            align-self: center;
            font-size: 12px;
        }
    }
